#content {
    height: 2700px;
    position: relative;
}


#content h2 span {
    color: #da291c;
}

#content .titleArea h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -60%;
    width: 1px;
    height: 60px;
    background-color: #da291c;
}


.contentArea .section1 {
    margin: 200px 0;
}

.contentArea h3 {
    font-size: 28px;
    margin-bottom: 30px;
}

.contentArea p {
    margin: 10px 0;
    float: right;
    font-size: 14px;
    color: #666;
}

.contentArea table {
    width: 100%;
}

.contentArea thead {
    text-align: center;
}

.contentArea thead tr {
    line-height: 2em;

}

.contentArea thead th {
    border-top: 2px solid #333;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.contentArea tbody {
    text-align: center;
    border-bottom: 2px solid #333;

}

.contentArea tbody tr {
    font-weight: 700;
    line-height: 2em;
}

.contentArea tbody td {
    padding: 25px;
    border-bottom: 1px dotted #666;
}

.contentArea tfoot {
    color: #da291c;
    text-align: center;
    font-weight: bold;
    line-height: 2em;
}


/* 섹션2 */


.contentArea .section2 {
    margin: 100px 0 200px 0;
}

/* 섹션3 */

.section3 {
    height: 780px;
    margin-left: -1000px;
    margin-top: 100px;
    position: relative;
    left: 50%;
    overflow: hidden;
    background: #f8f8f8;
    z-index: -3;
}

.section3 .inner1 {
    margin-top: 70px;
    float: left;
    padding-left: 400px;
    width: 600px;
}

.section3 .inner1 tfoot tr {
    line-height: 2em;
}

.section3 .inner2 {
    float: right;
    margin-top: 70px;
    padding-right: 400px;
    width: 800px;
}

.chart1 {
    width: 40%;
    margin: 130px auto;
}

.label {
    position: relative;
}

.label ul {
    position: relative;
}

.label li {
    position: absolute;
}

.label li:nth-of-type(1) {
    right: 159px;
    bottom: 371px;
}

.label li:nth-of-type(2) {
    right: 214px;
    bottom: 69px;
}

.label li:nth-of-type(3) {
    bottom: 153px;
    left: 145px;
}

.label li:nth-of-type(4) {
    bottom: 418px;
    left: 163px;
}

.label li:nth-of-type(5) {
    left: 45%;
    bottom: 467px;
}

.label li span {
    display: block;
    line-height: 2.5em;
    font-weight: bold;
}